:root{
  --primary-color:#a9c8a3;
  --default-color:#000;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.table-container{
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}


body {
  font-family: "Anek Latin", sans-serif;
  font-weight: 500;

}